.main { 
     width: 1020px; 
     margin: 0 auto; 
	 align: center;
 } 
 
 
 header { 
     height: 87px; 
     display: flex; 
     background-color: #2d303a; 
     padding: 0 40px; 
 
      
 } 
 
 
 h1 { 
 padding-top: 22px;
     font-family: 'Lato'; 
     color: #ffffff; 
     font-size: 25px; 
     line-height: 6px; 
	 padding-left: -3px;
 } 
 
 
 h1 > span { 
     color: #f06c64; 
	 margin-left: -1px;
 } 
 
 ul {
 list-style-type: none; 
     display: flex; 
     margin-top: 38px;
	 padding-left: 421px;
 }
 
 
a{ 
margin-left: 29px; 
     text-decoration: none; 
     font-size: 12px; 
     line-height: 6px; 
     font-family: "Lato"; 
     font-weight: 700; 
     color: #ffffff; 
     text-transform: uppercase; 
 } 
 
 .activ {
	      color: #f06c64; 
 }
 
 a:hover{ 
     color: #f06c64; 
 } 
 
 .polosa {
	 height: 6px;
 background-color: #323746; 	 
 }

 
 
 
 main { 
     height: 594px; 
    background-color: #f06c64; 
     position: relative; 
 } 
 
 

 
 
 .left { 
	 position: absolute; 
     top: 282px; 
     left: 42px; 
 } 
 .left:hover {
	 filter: brightness(50%);
	 cursor: pointer;
 }
 
 
 .right { 
	 position: absolute; 
     top: 282px; 
     right: 40px; 
 } 
 
  .right:hover {
	 filter: brightness(50%);
	 cursor: pointer;
 }
 
 .phone1 { 
	 width: 215px; 
     height: 458px; 
     position: absolute; 
     top: 53px; 
     left: 112px; 
 } 
 
 
 .phone2 { 
	 width: 215px; 
     height: 458px; 
     position: absolute; 
     top: 53px; 
     right: 259px; 
     transform: rotate(90deg); 
 } 
 
 
 .phone { 
     z-index: 2; 
     position: absolute; 
     left: 0; 
     top: 0; 
 } 
 
 
 .fon { 
     z-index: 3; 
     position: absolute; 
     left: 13px; 
     top: 65px; 
     width: 189px; 
     height: 333px; 
     overflow: hidden; 
 } 
 
 
 .shadow { 
     z-index: 1; 
     position: absolute; 
     left: 0px; 
     top: 0px; 
 } 
 
 
 .shadow2 { 
     transform: rotate(90deg); 
     left: -122px; 
     top: 98px; 
 } 
 
  .polosa2 {
	 height: 6px;
	 background-color: #ea676b; 	 
 }

 
 footer { 
     height: 480px; 
     background-color: #f2f2f2; 
     position: relative; 
 } 
 
 
 h2 { 
     font-size: 30px; 
     line-height: 18px; 
     color: #666d89; 
     font-family: "Lato"; 
     font-weight: 900; 
     margin: 0; 
     position: absolute; 
     top: 69px; 
     left: 40px; 
 } 
 
 
 .Fusce { 
     width: 960px; 
     height: 57px; 
     font-size: 18px; 
     line-height: 30px; 
     font-family: "Lato"; 
     font-weight: 300; 
     color: #767e9e; 
     margin: 0; 
     position: absolute; 
     top: 114px; 
     left: 41px; 
 } 
 
 
 footer > ul { 
     list-style-type: none; 
     display: flex; 
     width: 957px; 
     height: 247px; 
     margin: 0; 
     padding: 0; 
     position: absolute; 
     left: 42px; 
     top: 220px; 
     flex-wrap: wrap; 
 } 
 
 
 footer > ul > li { 
     width: 300px; 
     height: 87px; 
     display: flex; 
     margin-right: 19px; 
 } 
 
 
 .im { 
     width: 62px; 
     height: 62px; 
     margin-right: 18px; 
 } 
 
 
 
 
 h3 { 
     font-size: 18px; 
     line-height: 18px; 
     color: #666d89; 
     font-family: "Lato"; 
     font-weight: 900; 
     margin: 0; 
     margin-bottom: 10px; 
 } 
 
 
 .ppp { 
     font-size: 12px; 
     line-height: 22px; 
     color: #767e9e; 
     font-family: "Lato"; 
     font-weight: 400; 
     margin: 0; 
 } 